@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    }
#root {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    height: 100%; /* Takes full height of its parent */
    }
#dom {
    display: flex;
    flex-direction: column;
    height: 100%; /* Adjust this based on your layout's needs */
    margin-bottom: 40px;
    }
#textDom {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    height: 100%; /* Takes full height of its parent */
    }

.ql-container {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    }   

.ql-editor {
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    }
    

.ql-font-tinos { font-family: 'Tinos', serif; }
.ql-font-roboto { font-family: 'Roboto', sans-serif; }
.ql-font-open-sans { font-family: 'Open Sans', sans-serif; }
.ql-font-lato { font-family: 'Lato', sans-serif; }
.ql-font-oswald { font-family: 'Oswald', sans-serif; }
.ql-font-slabo-27px { font-family: 'Slabo 27px', serif; }
.ql-font-source-sans-pro { font-family: 'Source Sans Pro', sans-serif; }
.ql-font-montserrat { font-family: 'Montserrat', sans-serif; }
.ql-font-raleway { font-family: 'Raleway', sans-serif; }
.ql-font-pt-sans { font-family: 'PT Sans', sans-serif; }
.ql-font-ubuntu { font-family: 'Ubuntu', sans-serif; }
.ql-font-droid-sans { font-family: 'Droid Sans', sans-serif; }
.ql-font-merriweather { font-family: 'Merriweather', serif; }
.ql-font-noto-sans { font-family: 'Noto Sans', sans-serif; }
.ql-font-arimo { font-family: 'Arimo', sans-serif; }
.ql-font-pt-serif { font-family: 'PT Serif', serif; }
.ql-font-droid-serif { font-family: 'Droid Serif', serif; }
.ql-font-lora { font-family: 'Lora', serif; }
.ql-font-vollkorn { font-family: 'Vollkorn', serif; }

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=tinos]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=tinos]::before {
    content: 'Tinos';
    font-family: 'Tinos', serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
    content: 'Roboto';
    font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=open-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=open-sans]::before {
    content: 'Open Sans';
    font-family: 'Open Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=lato]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=lato]::before {
    content: 'Lato';
    font-family: 'Lato', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=oswald]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=oswald]::before {
    content: 'Oswald';
    font-family: 'Oswald', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=slabo-27px]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=slabo-27px]::before {
    content: 'Slabo 27px';
    font-family: 'Slabo 27px', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=source-sans-pro]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=source-sans-pro]::before {
    content: 'Source Sans Pro';
    font-family: 'Source Sans Pro', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=montserrat]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=montserrat]::before {
    content: 'Montserrat';
    font-family: 'Montserrat', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=raleway]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=raleway]::before {
    content: 'Raleway';
    font-family: 'Raleway', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=pt-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=pt-sans]::before {
    content: 'PT Sans';
    font-family: 'PT Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=ubuntu]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=ubuntu]::before {
    content: 'Ubuntu';
    font-family: 'Ubuntu', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=droid-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=droid-sans]::before {
    content: 'Droid Sans';
    font-family: 'Droid Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=merriweather]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=merriweather]::before {
    content: 'Merriweather';
    font-family: 'Merriweather', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=noto-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=noto-sans]::before {
    content: 'Noto Sans';
    font-family: 'Noto Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=arimo]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=arimo]::before {
    content: 'Arimo';
    font-family: 'Arimo', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=pt-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=pt-serif]::before {
    content: 'PT Serif';
    font-family: 'PT Serif', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=driod-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=driod-serif]::before {
    content: 'Droid Serif';
    font-family: 'Droid Serif', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=lora]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=lora]::before {
    content: 'Lora';
    font-family: 'Lora', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=vollkorn]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=vollkorn]::before {
    content: 'Vollkorn';
    font-family: 'Vollkorn', sans-serif;
}

.ql-size-small {
    font-size: 1.5em;
    }
.ql-size-normal {
        font-size: 2em;
    }
.ql-size-large {
        font-size: 2.5em;
    }
.ql-size-huge {
        font-size: 3em;
    }

.send-email-btn {
    position: fixed; /* Stick to the viewport */
    bottom: 5; /* Align to the bottom */
    background-color: #33C3F0; /* Aqua blue color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    outline: none; /* Remove outline */
    }

    .send-email-btn:hover {
        background-color: #30b0e8; /* Slightly darker shade of aqua blue on hover */
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 5px 0 rgba(0,0,0,0.19); /* Add shadow for depth */
    }

    .send-email-btn:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #33C3F0; /* Focus outline with aqua blue */
    }
