@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-font-roboto { font-family: 'Roboto', sans-serif; }
.ql-font-open-sans { font-family: 'Open Sans', sans-serif; }
.ql-font-lato { font-family: 'Lato', sans-serif; }
.ql-font-oswald { font-family: 'Oswald', sans-serif; }
.ql-font-slabo-27px { font-family: 'Slabo 27px', serif; }
.ql-font-source-sans-pro { font-family: 'Source Sans Pro', sans-serif; }
.ql-font-montserrat { font-family: 'Montserrat', sans-serif; }
.ql-font-raleway { font-family: 'Raleway', sans-serif; }
.ql-font-pt-sans { font-family: 'PT Sans', sans-serif; }
.ql-font-ubuntu { font-family: 'Ubuntu', sans-serif; }
.ql-font-droid-sans { font-family: 'Droid Sans', sans-serif; }
.ql-font-merriweather { font-family: 'Merriweather', serif; }
.ql-font-noto-sans { font-family: 'Noto Sans', sans-serif; }
.ql-font-arimo { font-family: 'Arimo', sans-serif; }
.ql-font-pt-serif { font-family: 'PT Serif', serif; }
.ql-font-droid-serif { font-family: 'Droid Serif', serif; }
.ql-font-lora { font-family: 'Lora', serif; }
.ql-font-vollkorn { font-family: 'Vollkorn', serif; }
.ql-font-tinos { font-family: 'Tinos', serif; }

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
    content: 'Roboto';
    font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=open-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=open-sans]::before {
    content: 'Open Sans';
    font-family: 'Open Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=lato]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=lato]::before {
    content: 'Lato';
    font-family: 'Lato', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=oswald]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=oswald]::before {
    content: 'Oswald';
    font-family: 'Oswald', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=slabo-27px]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=slabo-27px]::before {
    content: 'Slabo 27px';
    font-family: 'Slabo 27px', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=source-sans-pro]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=source-sans-pro]::before {
    content: 'Source Sans Pro';
    font-family: 'Source Sans Pro', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=montserrat]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=montserrat]::before {
    content: 'Montserrat';
    font-family: 'Montserrat', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=raleway]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=raleway]::before {
    content: 'Raleway';
    font-family: 'Raleway', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=pt-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=pt-sans]::before {
    content: 'PT Sans';
    font-family: 'PT Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=ubuntu]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=ubuntu]::before {
    content: 'Ubuntu';
    font-family: 'Ubuntu', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=droid-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=droid-sans]::before {
    content: 'Droid Sans';
    font-family: 'Droid Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=merriweather]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=merriweather]::before {
    content: 'Merriweather';
    font-family: 'Merriweather', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=noto-sans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=noto-sans]::before {
    content: 'Noto Sans';
    font-family: 'Noto Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=arimo]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=arimo]::before {
    content: 'Arimo';
    font-family: 'Arimo', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=pt-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=pt-serif]::before {
    content: 'PT Serif';
    font-family: 'PT Serif', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=driod-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=driod-serif]::before {
    content: 'Droid Serif';
    font-family: 'Droid Serif', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=lora]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=lora]::before {
    content: 'Lora';
    font-family: 'Lora', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=vollkorn]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=vollkorn]::before {
    content: 'Vollkorn';
    font-family: 'Vollkorn', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=tinos]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=tinos]::before {
    content: 'Tinos';
    font-family: 'Tinos', serif;
}

.ql-size-small {
    font-size: 0.75em;
    }
.ql-size-large {
        font-size: 1.5em;
    }
.ql-size-huge {
        font-size: 2.5em;
    }
